/**
  * css for epicmaxim.com 
  *
  * written by:
  * @epiqmax <epiqmax@gmail.com>
  */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(/static/fonts/qhfoJiLu10kFjChCCTvGlIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(/static/fonts/qhfoJiLu10kFjChCCTvGlBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/static/fonts/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/static/fonts/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/static/fonts/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/static/fonts/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/static/fonts/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

::-moz-selection{
	background: #ff5543 none repeat scroll 0 0;
	color: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fff;
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	font-family: 'Open Sans', Arial,"Helvetica Neue",Helvetica,sans-serif;
	cursor: default;
}
ol, ul {
	list-style: none;
	font-size: .9em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol {
	list-style: disc;
	margin-bottom: 1.3em;
	line-height: 1.6em;
	font-style: italic;
}
ul li {
	margin-left: 30px;
}
ol {
	list-style-type: none;
}
strong {
	font-weight: bold;
}
.itlc {
	font-style: italic;
}
a:link {
    color: #61cdf5;
}
a:visited {
	color: #8E41BB;
}
a:hover, a:active {
	color: #D26B9E;
}

.wrap {
	max-width: 820px;
	background-color: #fff;
	margin: 0 auto;
}
header {
	background-color: #4c2db4;
	background-image: linear-gradient(238deg, #4c2db4 2%, #b04cbe 45%, #df7792 100%);
	width: 100%;
	margin-bottom: 45px;
}
header div.heading {
	padding: 90px 30px 35px 100px;
	max-width: 100%;
	box-sizing: border-box;
}
header div.heading h1 span {
	display: block;
}
header div.heading h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	line-height: 50px;
	font-weight: lighter;
	color: #fff;
}
.socials {
	margin-top: -260px;
	position: relative;
	overflow: hidden;
	width: 40px;
	max-width: 100%;
	box-sizing: border-box;
	float: right;
}
.socials span a {
	display: block;
	width: 32px;
	height: 32px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
}
.socials span a img {
	margin-bottom: 6px;
	width: 24px;
	height: 24px;
	margin-top: 4px;
	box-sizing: border-box;
}
.socials span a:hover {
	background: #D97297;
}
.tooltip {
	position: absolute;
	top: 30px;
	background: #fff;
	max-width: 300px;
	font-size: .8em;
	line-height: 1.9em;
	color: rgba(0,0,0,.75);
	border-radius: 4px;
}
.tooltip div {
	padding: 4px 12px;
}
.tooltip span:first-child {
	padding: 0px 2px 0px 1px;
	font-size: 1.2em;
	top: 1px;
	position: relative;
	overflow: hidden;
}
.tooltip span:nth-child(2) {
	padding: 0px 2px;
}
.tooltip:after {
	top: 100%;
	left: 8%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
}

.section .side {
	width: 250px;
	float: left;
}
.section .side h2 {
	font-size: 1.15em;
	width: 100px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #434343;
	text-align: right;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
.section .topic {
	width: 570px;
	float: left;
	color: #808387;
	padding: 0px 30px 20px 30px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	margin: 0 0 30px 0;
}
.section .trght {
	text-align: right;
}
.section .topic p {
	padding-bottom: 10px;
	line-height: 1.4em;
	text-align: justify;
}
.section .topic h3 {
	color: #A047BC;
	text-transform: uppercase;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
.lnth {
	text-decoration: line-through;
	color: #bebebe;
}

.app {

}
.app-icon {
	width: 62px;
	height: 62px;
	float: left;
	margin-right: 10px;
}
.app-icon img {
	border-radius: 4px;
}
.app-icon_supaplex {
	background: url(/static/img/supaplex.gif);
	width: 62px;
	height: 62px;
	border-radius: 4px;
}
.app-title {
	margin-bottom: 6px;
	line-height: 18px;
}

.trght {
	overflow: hidden;
	padding: 0;
	margin: 0 0 20px 0;
}
.trght .card {
	width: 245px;
	float: left;
	border: 1px solid #232323;
	overflow: hidden;
	border-radius: 6px;
	text-align: left;
	padding: 5px 10px;
	box-sizing: border-box;
	height: 220px;
}
.trght .card:first-child {
	margin-right: 15px;
}
.trght .card:nth-child(2) {
	margin-right: 0;
}
.trght .card .card-description p:first-child {
	margin-bottom: 2px;
	padding-bottom: 2px;
}
.trght .card .card-description > div {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.trght .card .card-description p:nth-child(3) {
	height: 100px;
}

footer:before {
	content:' ';
	background-color: #4c2db4;
	background-image: linear-gradient(238deg, #4c2db4 2%, #b04cbe 45%, #df7792 100%);
	height: 3px;
	overflow: hidden;
	display: block;
	box-sizing: content-box;
	margin-bottom: 10px;
}
footer {
	max-width: 820px;
	background-color: #fff;
	margin: 0 auto 40px auto;
	clear: both;
	overflow: hidden;
	padding: 10px 0px 35px 0px;
	font-size: .9em;
	background-image: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
}
footer h2 {
	display: none;
}
footer .fl {
	float: left;
	max-width: 300px;
	color: #999;
	padding-left: 10px;
}
footer .fl img {
	position: relative;
	overflow: hidden;
	left: 5px;
	top: 10px;
	padding-right: 10px;
	width: 32px;
	height: 32px;
}
footer .fr {
	float: right;
	max-width: 300px;
	color: #999;
	padding-right: 10px;
}

#socialWrap {
	display: none;
	position: relative;
	top: 17px;
}

@media screen and (max-width: 820px) {
	header div.heading {
		padding: 80px 30px 25px 40px;
	}
	.section .side {
		width: 100%;
		padding: 0px 40px 20px 40px;
		float: none;
		box-sizing: border-box;
	}
	.section .side h2 {
		font-size: 1.2em;
		width: 100px;
		font-weight: bold;
		text-transform: uppercase;
		color: #434343;
		text-align: left;
		overflow: hidden;
	}
	.section .topic {
		width: 100%;
		padding: 0px 40px 20px 40px;
		float: none;
		box-sizing: border-box;
	}
	.socials {
		margin-top: -250px;
	}
}

@media screen and (max-width: 480px) {
	header {
		margin-bottom: 30px;
	}
	header div.heading {
		padding: 75px 20px 25px 20px;
	}
	header div.heading h1 {
		font-size: 28px;
		line-height: 34px;
	}
	.section .side {
		width: 100%;
		padding: 0px 20px 10px 20px;
		float: none;
		box-sizing: border-box;
	}
	.tooltip {
		font-size: 10px;
	}
	.section .side h2 {
		font-size: 16px;
		line-height: 18px;
	}
	.section .topic {
		font-size: 14px;
		width: 100%;
		padding: 0px 20px 20px 20px;
		float: none;
		box-sizing: border-box;
	}
	footer:before {
		margin-bottom: 30px;
	}
	footer {
		font-size: 14px;
	}
	footer .fl {
		width: 100%;
		text-align: center;
		min-width: 100%;
		padding-left: 0px;
	}
	footer .fl img {
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	footer .fr {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding-bottom: 25px;
		text-align: center;
		min-height: 35px;
		min-width: 100%;
		padding-right: 0px;
	}
	.socials {
		margin-top: -181px;
	}
	.socials span a img {
		width: 16px;
		height: 16px;
		margin-top: 8px;
		margin-bottom: 4px;
	}
}